.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color:#b6b6dbf7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 10px;
}

.container h2 {
    color: #555;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.container ul {
    list-style-type: none;
    padding: 0;
}

.container li {
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color:#13272b57;
    cursor: pointer;
}

.container button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container .correct {
    background-color: lightgreen;
    font-weight: bold;
}

.container .wrong {
    background-color: red;
    color: white;
    font-weight: bold;
}